<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Country Code</key>
		<integer>263</integer>
		<key>ISO</key>
		<string>zw</string>
		<key>Country</key>
		<string>Zimbabwe</string>
		<key>MCC</key>
		<integer>648</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>260</integer>
		<key>ISO</key>
		<string>zm</string>
		<key>Country</key>
		<string>Zambia</string>
		<key>MCC</key>
		<integer>645</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>967</integer>
		<key>ISO</key>
		<string>ye</string>
		<key>Country</key>
		<string>Yemen</string>
		<key>MCC</key>
		<integer>421</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>84</integer>
		<key>ISO</key>
		<string>vn</string>
		<key>Country</key>
		<string>Viet Nam</string>
		<key>MCC</key>
		<integer>452</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>58</integer>
		<key>ISO</key>
		<string>ve</string>
		<key>Country</key>
		<string>Venezuela</string>
		<key>MCC</key>
		<integer>734</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>678</integer>
		<key>ISO</key>
		<string>vu</string>
		<key>Country</key>
		<string>Vanuatu</string>
		<key>MCC</key>
		<integer>541</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>998</integer>
		<key>ISO</key>
		<string>uz</string>
		<key>Country</key>
		<string>Uzbekistan</string>
		<key>MCC</key>
		<integer>434</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>598</integer>
		<key>ISO</key>
		<string>uy</string>
		<key>Country</key>
		<string>Uruguay</string>
		<key>MCC</key>
		<integer>748</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>44</integer>
		<key>ISO</key>
		<string>gb</string>
		<key>Country</key>
		<string>United Kingdom</string>
		<key>MCC</key>
		<integer>234</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>971</integer>
		<key>ISO</key>
		<string>ae</string>
		<key>Country</key>
		<string>United Arab Emirates</string>
		<key>MCC</key>
		<integer>424</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>380</integer>
		<key>ISO</key>
		<string>ua</string>
		<key>Country</key>
		<string>Ukraine</string>
		<key>MCC</key>
		<integer>255</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>256</integer>
		<key>ISO</key>
		<string>ug</string>
		<key>Country</key>
		<string>Uganda</string>
		<key>MCC</key>
		<integer>641</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>1</integer>
		<key>ISO</key>
		<string>us</string>
		<key>Country</key>
		<string>USA</string>
		<key>MCC</key>
		<integer>310</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>1340</integer>
		<key>ISO</key>
		<string>vi</string>
		<key>Country</key>
		<string>U.S. Virgin Islands</string>
		<key>MCC</key>
		<integer>332</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>1649</integer>
		<key>ISO</key>
		<string>tc</string>
		<key>Country</key>
		<string>Turks and Caicos Islands</string>
		<key>MCC</key>
		<integer>376</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>993</integer>
		<key>ISO</key>
		<string>tm</string>
		<key>Country</key>
		<string>Turkmenistan</string>
		<key>MCC</key>
		<integer>438</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>90</integer>
		<key>ISO</key>
		<string>tr</string>
		<key>Country</key>
		<string>Turkey</string>
		<key>MCC</key>
		<integer>286</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>216</integer>
		<key>ISO</key>
		<string>tn</string>
		<key>Country</key>
		<string>Tunisia</string>
		<key>MCC</key>
		<integer>605</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>1868</integer>
		<key>ISO</key>
		<string>tt</string>
		<key>Country</key>
		<string>Trinidad and Tobag</string>
		<key>MCC</key>
		<integer>374</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>676</integer>
		<key>ISO</key>
		<string>to</string>
		<key>Country</key>
		<string>Tonga</string>
		<key>MCC</key>
		<integer>539</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>228</integer>
		<key>ISO</key>
		<string>tg</string>
		<key>Country</key>
		<string>Togolese Republic</string>
		<key>MCC</key>
		<integer>615</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<string>66</string>
		<key>ISO</key>
		<string>th</string>
		<key>Country</key>
		<string>Thailand</string>
		<key>MCC</key>
		<string>520</string>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>255</integer>
		<key>ISO</key>
		<string>tz</string>
		<key>Country</key>
		<string>Tanzania</string>
		<key>MCC</key>
		<integer>640</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>992</integer>
		<key>ISO</key>
		<string>tj</string>
		<key>Country</key>
		<string>Tajikistan</string>
		<key>MCC</key>
		<integer>436</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>886</integer>
		<key>ISO</key>
		<string>tw</string>
		<key>Country</key>
		<string>Taiwan</string>
		<key>MCC</key>
		<integer>466</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>963</integer>
		<key>ISO</key>
		<string>sy</string>
		<key>Country</key>
		<string>Syrian Arab Republic</string>
		<key>MCC</key>
		<integer>417</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>41</integer>
		<key>ISO</key>
		<string>ch</string>
		<key>Country</key>
		<string>Switzerland</string>
		<key>MCC</key>
		<integer>228</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>46</integer>
		<key>ISO</key>
		<string>se</string>
		<key>Country</key>
		<string>Sweden</string>
		<key>MCC</key>
		<integer>240</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>268</integer>
		<key>ISO</key>
		<string>sz</string>
		<key>Country</key>
		<string>Swaziland</string>
		<key>MCC</key>
		<integer>653</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>597</integer>
		<key>ISO</key>
		<string>sr</string>
		<key>Country</key>
		<string>Suriname</string>
		<key>MCC</key>
		<integer>746</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>249</integer>
		<key>ISO</key>
		<string>sd</string>
		<key>Country</key>
		<string>Sudan</string>
		<key>MCC</key>
		<integer>634</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>1758</integer>
		<key>ISO</key>
		<string>lc</string>
		<key>Country</key>
		<string>St. Lucia</string>
		<key>MCC</key>
		<integer>358</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>94</integer>
		<key>ISO</key>
		<string>lk</string>
		<key>Country</key>
		<string>Sri Lanka</string>
		<key>MCC</key>
		<integer>413</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>34</integer>
		<key>ISO</key>
		<string>es</string>
		<key>Country</key>
		<string>Spain</string>
		<key>MCC</key>
		<integer>214</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>27</integer>
		<key>ISO</key>
		<string>za</string>
		<key>Country</key>
		<string>South Africa</string>
		<key>MCC</key>
		<integer>655</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>252</integer>
		<key>ISO</key>
		<string>so</string>
		<key>Country</key>
		<string>Somali Democratic Republic</string>
		<key>MCC</key>
		<integer>637</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>677</integer>
		<key>ISO</key>
		<string>sb</string>
		<key>Country</key>
		<string>Solomon Islands</string>
		<key>MCC</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>386</integer>
		<key>ISO</key>
		<string>si</string>
		<key>Country</key>
		<string>Slovenia</string>
		<key>MCC</key>
		<integer>293</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>421</integer>
		<key>ISO</key>
		<string>sk</string>
		<key>Country</key>
		<string>Slovak Republic</string>
		<key>MCC</key>
		<integer>231</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>65</integer>
		<key>ISO</key>
		<string>sg</string>
		<key>Country</key>
		<string>Singapore</string>
		<key>MCC</key>
		<integer>525</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>232</integer>
		<key>ISO</key>
		<string>sl</string>
		<key>Country</key>
		<string>Sierra Leone</string>
		<key>MCC</key>
		<integer>619</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>248</integer>
		<key>ISO</key>
		<string>sc</string>
		<key>Country</key>
		<string>Seychelles</string>
		<key>MCC</key>
		<integer>633</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>381</integer>
		<key>ISO</key>
		<string>rs</string>
		<key>Country</key>
		<string>Serbia</string>
		<key>MCC</key>
		<integer>220</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>221</integer>
		<key>ISO</key>
		<string>sn</string>
		<key>Country</key>
		<string>Senegal</string>
		<key>MCC</key>
		<integer>608</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>966</integer>
		<key>ISO</key>
		<string>sa</string>
		<key>Country</key>
		<string>Saudi Arabia</string>
		<key>MCC</key>
		<integer>420</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>882</integer>
		<key>ISO</key>
		<string></string>
		<key>Country</key>
		<string>Satellite Networks</string>
		<key>MCC</key>
		<integer>901</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>239</integer>
		<key>ISO</key>
		<string>st</string>
		<key>Country</key>
		<string>Sao Tome and Principe</string>
		<key>MCC</key>
		<integer>626</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>378</integer>
		<key>ISO</key>
		<string>sm</string>
		<key>Country</key>
		<string>San Marino</string>
		<key>MCC</key>
		<integer>292</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<string>685</string>
		<key>ISO</key>
		<string>ws</string>
		<key>Country</key>
		<string>Samoa</string>
		<key>MCC</key>
		<string>549</string>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>1784</integer>
		<key>ISO</key>
		<string>vc</string>
		<key>Country</key>
		<string>Saint Vincent and the Grenadines</string>
		<key>MCC</key>
		<integer>360</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>508</integer>
		<key>ISO</key>
		<string>pm</string>
		<key>Country</key>
		<string>Saint Pierre and Miquelon</string>
		<key>MCC</key>
		<integer>308</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>1869</integer>
		<key>ISO</key>
		<string>kn</string>
		<key>Country</key>
		<string>Saint Kitts and Nevis</string>
		<key>MCC</key>
		<integer>356</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>250</integer>
		<key>ISO</key>
		<string>rw</string>
		<key>Country</key>
		<string>Rwandese Republic</string>
		<key>MCC</key>
		<integer>635</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>7</integer>
		<key>ISO</key>
		<string>ru</string>
		<key>Country</key>
		<string>Russia</string>
		<key>MCC</key>
		<integer>250</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>40</integer>
		<key>ISO</key>
		<string>ro</string>
		<key>Country</key>
		<string>Romania</string>
		<key>MCC</key>
		<integer>226</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>262</integer>
		<key>ISO</key>
		<string>re</string>
		<key>Country</key>
		<string>Reunion</string>
		<key>MCC</key>
		<integer>647</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>974</integer>
		<key>ISO</key>
		<string>qa</string>
		<key>Country</key>
		<string>Qatar</string>
		<key>MCC</key>
		<integer>427</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>351</integer>
		<key>ISO</key>
		<string>pt</string>
		<key>Country</key>
		<string>Portugal</string>
		<key>MCC</key>
		<integer>268</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>48</integer>
		<key>ISO</key>
		<string>pl</string>
		<key>Country</key>
		<string>Poland</string>
		<key>MCC</key>
		<integer>260</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>63</integer>
		<key>ISO</key>
		<string>ph</string>
		<key>Country</key>
		<string>Philippines</string>
		<key>MCC</key>
		<integer>515</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>51</integer>
		<key>ISO</key>
		<string>pe</string>
		<key>Country</key>
		<string>Peru</string>
		<key>MCC</key>
		<integer>716</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>595</integer>
		<key>ISO</key>
		<string>py</string>
		<key>Country</key>
		<string>Paraguay</string>
		<key>MCC</key>
		<integer>744</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>675</integer>
		<key>ISO</key>
		<string>pg</string>
		<key>Country</key>
		<string>Papua New Guinea</string>
		<key>MCC</key>
		<integer>537</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>507</integer>
		<key>ISO</key>
		<string>pa</string>
		<key>Country</key>
		<string>Panama</string>
		<key>MCC</key>
		<integer>714</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>970</integer>
		<key>ISO</key>
		<string>ps</string>
		<key>Country</key>
		<string>Palestinian Territory</string>
		<key>MCC</key>
		<integer>425</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>680</integer>
		<key>ISO</key>
		<string>pw</string>
		<key>Country</key>
		<string>Palau</string>
		<key>MCC</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Country Symbol</key>
		<string>Rs</string>
		<key>Country Code</key>
		<integer>92</integer>
		<key>ISO</key>
		<string>pk</string>
		<key>Country</key>
		<string>Pakistan</string>
		<key>MCC</key>
		<integer>410</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>968</integer>
		<key>ISO</key>
		<string>om</string>
		<key>Country</key>
		<string>Oman</string>
		<key>MCC</key>
		<integer>422</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>47</integer>
		<key>ISO</key>
		<string>no</string>
		<key>Country</key>
		<string>Norway</string>
		<key>MCC</key>
		<integer>242</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>672</integer>
		<key>ISO</key>
		<string>nf</string>
		<key>Country</key>
		<string>Norfolk Island</string>
		<key>MCC</key>
		<integer>505</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>234</integer>
		<key>ISO</key>
		<string>ng</string>
		<key>Country</key>
		<string>Nigeria</string>
		<key>MCC</key>
		<integer>621</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>227</integer>
		<key>ISO</key>
		<string>ne</string>
		<key>Country</key>
		<string>Niger</string>
		<key>MCC</key>
		<integer>614</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<string>505</string>
		<key>ISO</key>
		<string>ni</string>
		<key>Country</key>
		<string>Nicaragua</string>
		<key>MCC</key>
		<string>710</string>
	</dict>
	<dict>
		<key>Country Code</key>
		<string>64</string>
		<key>ISO</key>
		<string>nz</string>
		<key>Country</key>
		<string>New Zealand</string>
		<key>MCC</key>
		<string>530</string>
	</dict>
	<dict>
		<key>Country Code</key>
		<string>687</string>
		<key>ISO</key>
		<string>nc</string>
		<key>Country</key>
		<string>New Caledonia</string>
		<key>MCC</key>
		<string>546</string>
	</dict>
	<dict>
		<key>Country Code</key>
		<string>599</string>
		<key>ISO</key>
		<string>an</string>
		<key>Country</key>
		<string>Netherlands Antilles</string>
		<key>MCC</key>
		<string>362</string>
	</dict>
	<dict>
		<key>Country Code</key>
		<string>31</string>
		<key>ISO</key>
		<string>nl</string>
		<key>Country</key>
		<string>Netherlands</string>
		<key>MCC</key>
		<string>204</string>
	</dict>
	<dict>
		<key>Country Code</key>
		<string>977</string>
		<key>ISO</key>
		<string>np</string>
		<key>Country</key>
		<string>Nepal</string>
		<key>MCC</key>
		<string>429</string>
	</dict>
	<dict>
		<key>Country Code</key>
		<string>674</string>
		<key>ISO</key>
		<string>nr</string>
		<key>Country</key>
		<string>Nauru</string>
		<key>MCC</key>
		<string>536</string>
	</dict>
	<dict>
		<key>Country Code</key>
		<string>264</string>
		<key>ISO</key>
		<string>na</string>
		<key>Country</key>
		<string>Namibia          </string>
		<key>MCC</key>
		<string>649</string>
	</dict>
	<dict>
		<key>Country Code</key>
		<string>95</string>
		<key>ISO</key>
		<string>mm</string>
		<key>Country</key>
		<string>Myanma</string>
		<key>MCC</key>
		<string>414</string>
	</dict>
	<dict>
		<key>Country Code</key>
		<string>258</string>
		<key>ISO</key>
		<string>mz</string>
		<key>Country</key>
		<string>Mozambique</string>
		<key>MCC</key>
		<string>643</string>
	</dict>
	<dict>
		<key>Country Code</key>
		<string>212</string>
		<key>ISO</key>
		<string>ma</string>
		<key>Country</key>
		<string>Morocco</string>
		<key>MCC</key>
		<string>604</string>
	</dict>
	<dict>
		<key>Country Code</key>
		<string>1664</string>
		<key>ISO</key>
		<string>ms</string>
		<key>Country</key>
		<string>Montserrat</string>
		<key>MCC</key>
		<string>354</string>
	</dict>
	<dict>
		<key>Country Code</key>
		<string>382</string>
		<key>ISO</key>
		<string>yu</string>
		<key>Country</key>
		<string>Montenegro</string>
		<key>MCC</key>
		<string>297</string>
	</dict>
	<dict>
		<key>Country Code</key>
		<string>976</string>
		<key>ISO</key>
		<string>mn</string>
		<key>Country</key>
		<string>Mongolia</string>
		<key>MCC</key>
		<string>428</string>
	</dict>
	<dict>
		<key>Country Code</key>
		<string>377</string>
		<key>ISO</key>
		<string>mc</string>
		<key>Country</key>
		<string>Monaco</string>
		<key>MCC</key>
		<string>212</string>
	</dict>
	<dict>
		<key>Country Code</key>
		<string>373</string>
		<key>ISO</key>
		<string>md</string>
		<key>Country</key>
		<string>Moldova</string>
		<key>MCC</key>
		<string>259</string>
	</dict>
	<dict>
		<key>Country Code</key>
		<string>691</string>
		<key>ISO</key>
		<string>fm</string>
		<key>Country</key>
		<string>Micronesia</string>
		<key>MCC</key>
		<string>550</string>
	</dict>
	<dict>
		<key>Country Code</key>
		<string>52</string>
		<key>ISO</key>
		<string>mx</string>
		<key>Country</key>
		<string>Mexico</string>
		<key>MCC</key>
		<string>334</string>
	</dict>
	<dict>
		<key>Country Code</key>
		<string>230</string>
		<key>ISO</key>
		<string>mu</string>
		<key>Country</key>
		<string>Mauritius</string>
		<key>MCC</key>
		<string>617</string>
	</dict>
	<dict>
		<key>Country Code</key>
		<string>596</string>
		<key>ISO</key>
		<string>mq</string>
		<key>Country</key>
		<string>Martinique</string>
		<key>MCC</key>
		<string>340</string>
	</dict>
	<dict>
		<key>Country Code</key>
		<string>356</string>
		<key>ISO</key>
		<string>mt</string>
		<key>Country</key>
		<string>Malta</string>
		<key>MCC</key>
		<string>278</string>
	</dict>
	<dict>
		<key>Country Code</key>
		<string>223</string>
		<key>ISO</key>
		<string>ml</string>
		<key>Country</key>
		<string>Mali</string>
		<key>MCC</key>
		<string>610</string>
	</dict>
	<dict>
		<key>Country Code</key>
		<string>960</string>
		<key>ISO</key>
		<string>mv</string>
		<key>Country</key>
		<string>Maldives</string>
		<key>MCC</key>
		<string>472</string>
	</dict>
	<dict>
		<key>Country Code</key>
		<string>60</string>
		<key>ISO</key>
		<string>my</string>
		<key>Country</key>
		<string>Malaysia</string>
		<key>MCC</key>
		<string>502</string>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>265</integer>
		<key>ISO</key>
		<string>mw</string>
		<key>Country</key>
		<string>Malawi</string>
		<key>MCC</key>
		<integer>650</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>261</integer>
		<key>ISO</key>
		<string>mg</string>
		<key>Country</key>
		<string>Madagascar</string>
		<key>MCC</key>
		<integer>646</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>389</integer>
		<key>ISO</key>
		<string>mk</string>
		<key>Country</key>
		<string>Macedonia The Former Yugoslav Republic of</string>
		<key>MCC</key>
		<integer>294</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>853</integer>
		<key>ISO</key>
		<string>mo</string>
		<key>Country</key>
		<string>Macau</string>
		<key>MCC</key>
		<integer>455</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>352</integer>
		<key>ISO</key>
		<string>lu</string>
		<key>Country</key>
		<string>Luxembourg</string>
		<key>MCC</key>
		<integer>270</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>370</integer>
		<key>ISO</key>
		<string>lt</string>
		<key>Country</key>
		<string>Lithuania</string>
		<key>MCC</key>
		<integer>246</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>423</integer>
		<key>ISO</key>
		<string>li</string>
		<key>Country</key>
		<string>Liechtenstein</string>
		<key>MCC</key>
		<integer>295</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>218</integer>
		<key>ISO</key>
		<string>ly</string>
		<key>Country</key>
		<string>Libya</string>
		<key>MCC</key>
		<integer>606</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>231</integer>
		<key>ISO</key>
		<string>lr</string>
		<key>Country</key>
		<string>Liberia</string>
		<key>MCC</key>
		<integer>618</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>266</integer>
		<key>ISO</key>
		<string>ls</string>
		<key>Country</key>
		<string>Lesotho</string>
		<key>MCC</key>
		<integer>651</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>961</integer>
		<key>ISO</key>
		<string>lb</string>
		<key>Country</key>
		<string>Lebanon</string>
		<key>MCC</key>
		<integer>415</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>371</integer>
		<key>ISO</key>
		<string>lv</string>
		<key>Country</key>
		<string>Latvia</string>
		<key>MCC</key>
		<integer>247</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>856</integer>
		<key>ISO</key>
		<string>la</string>
		<key>Country</key>
		<string>Lao People&apos;s Democratic Republic</string>
		<key>MCC</key>
		<integer>457</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>996</integer>
		<key>ISO</key>
		<string>kg</string>
		<key>Country</key>
		<string>Kyrgyzstan</string>
		<key>MCC</key>
		<integer>437</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>965</integer>
		<key>ISO</key>
		<string>kw</string>
		<key>Country</key>
		<string>Kuwait</string>
		<key>MCC</key>
		<integer>419</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>996</integer>
		<key>ISO</key>
		<string>kg</string>
		<key>Country</key>
		<string>Kyrgyzstan</string>
		<key>MCC</key>
		<integer>437</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>965</integer>
		<key>ISO</key>
		<string>kw</string>
		<key>Country</key>
		<string>Kuwait</string>
		<key>MCC</key>
		<integer>419</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>82</integer>
		<key>ISO</key>
		<string>kr</string>
		<key>Country</key>
		<string>Korea</string>
		<key>MCC</key>
		<integer>450</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>686</integer>
		<key>ISO</key>
		<string>ki</string>
		<key>Country</key>
		<string>Kiribati</string>
		<key>MCC</key>
		<integer>545</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>254</integer>
		<key>ISO</key>
		<string>ke</string>
		<key>Country</key>
		<string>Kenya</string>
		<key>MCC</key>
		<integer>639</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>7</integer>
		<key>ISO</key>
		<string>kz</string>
		<key>Country</key>
		<string>Kazakhstan</string>
		<key>MCC</key>
		<integer>401</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>962</integer>
		<key>ISO</key>
		<string>jo</string>
		<key>Country</key>
		<string>Jordan</string>
		<key>MCC</key>
		<integer>416</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>81</integer>
		<key>ISO</key>
		<string>jp</string>
		<key>Country</key>
		<string>Japan</string>
		<key>MCC</key>
		<integer>441</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>1876</integer>
		<key>ISO</key>
		<string>jm</string>
		<key>Country</key>
		<string>Jamaica</string>
		<key>MCC</key>
		<integer>338</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>225</integer>
		<key>ISO</key>
		<string>ci</string>
		<key>Country</key>
		<string>Ivory Coast</string>
		<key>MCC</key>
		<integer>612</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>39</integer>
		<key>ISO</key>
		<string>it</string>
		<key>Country</key>
		<string>Italy</string>
		<key>MCC</key>
		<integer>222</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>972</integer>
		<key>ISO</key>
		<string>il</string>
		<key>Country</key>
		<string>Israel</string>
		<key>MCC</key>
		<integer>425</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>353</integer>
		<key>ISO</key>
		<string>ie</string>
		<key>Country</key>
		<string>Ireland</string>
		<key>MCC</key>
		<integer>272</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>964</integer>
		<key>ISO</key>
		<string>iq</string>
		<key>Country</key>
		<string>Iraq</string>
		<key>MCC</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>98</integer>
		<key>ISO</key>
		<string>ir</string>
		<key>Country</key>
		<string>Iran</string>
		<key>MCC</key>
		<integer>432</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>62</integer>
		<key>ISO</key>
		<string>id</string>
		<key>Country</key>
		<string>Indonesia</string>
		<key>MCC</key>
		<integer>510</integer>
	</dict>
	<dict>
		<key>Country Symbol</key>
		<string>₹</string>
		<key>Country Code</key>
		<integer>91</integer>
		<key>ISO</key>
		<string>in</string>
		<key>Country</key>
		<string>India</string>
		<key>MCC</key>
		<integer>404</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>354</integer>
		<key>ISO</key>
		<string>is</string>
		<key>Country</key>
		<string>Iceland</string>
		<key>MCC</key>
		<integer>274</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>36</integer>
		<key>ISO</key>
		<string>hu</string>
		<key>Country</key>
		<string>Hungary</string>
		<key>MCC</key>
		<integer>216</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>852</integer>
		<key>ISO</key>
		<string>hk</string>
		<key>Country</key>
		<string>Hongkong</string>
		<key>MCC</key>
		<integer>454</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>504</integer>
		<key>ISO</key>
		<string>hn</string>
		<key>Country</key>
		<string>Honduras</string>
		<key>MCC</key>
		<integer>708</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>509</integer>
		<key>ISO</key>
		<string>ht</string>
		<key>Country</key>
		<string>Haiti</string>
		<key>MCC</key>
		<integer>372</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>592</integer>
		<key>ISO</key>
		<string>gy</string>
		<key>Country</key>
		<string>Guyana</string>
		<key>MCC</key>
		<integer>738</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>245</integer>
		<key>ISO</key>
		<string>gw</string>
		<key>Country</key>
		<string>Guinea-Bissau</string>
		<key>MCC</key>
		<integer>632</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>224</integer>
		<key>ISO</key>
		<string>gn</string>
		<key>Country</key>
		<string>Guinea</string>
		<key>MCC</key>
		<integer>611</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>502</integer>
		<key>ISO</key>
		<string>gt</string>
		<key>Country</key>
		<string>Guatemala</string>
		<key>MCC</key>
		<integer>704</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>1671</integer>
		<key>ISO</key>
		<string>gu</string>
		<key>Country</key>
		<string>Guam</string>
		<key>MCC</key>
		<integer>310</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>590</integer>
		<key>ISO</key>
		<string>gp</string>
		<key>Country</key>
		<string>Guadeloupe</string>
		<key>MCC</key>
		<integer>590</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>1473</integer>
		<key>ISO</key>
		<string>gd</string>
		<key>Country</key>
		<string>Grenada</string>
		<key>MCC</key>
		<integer>352</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>299</integer>
		<key>ISO</key>
		<string>gl</string>
		<key>Country</key>
		<string>Greenland</string>
		<key>MCC</key>
		<integer>290</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>30</integer>
		<key>ISO</key>
		<string>gr</string>
		<key>Country</key>
		<string>Greece</string>
		<key>MCC</key>
		<integer>202</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>350</integer>
		<key>ISO</key>
		<string>gi</string>
		<key>Country</key>
		<string>Gibraltar</string>
		<key>MCC</key>
		<integer>266</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>233</integer>
		<key>ISO</key>
		<string>gh</string>
		<key>Country</key>
		<string>Ghana</string>
		<key>MCC</key>
		<integer>620</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>49</integer>
		<key>ISO</key>
		<string>de</string>
		<key>Country</key>
		<string>Germany</string>
		<key>MCC</key>
		<integer>262</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>995</integer>
		<key>ISO</key>
		<string>ge</string>
		<key>Country</key>
		<string>Georgia</string>
		<key>MCC</key>
		<integer>282</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>220</integer>
		<key>ISO</key>
		<string>gm</string>
		<key>Country</key>
		<string>Gambia</string>
		<key>MCC</key>
		<integer>607</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>241</integer>
		<key>ISO</key>
		<string>ga</string>
		<key>Country</key>
		<string>Gabon Republic of</string>
		<key>MCC</key>
		<integer>628</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>689</integer>
		<key>ISO</key>
		<string>pf</string>
		<key>Country</key>
		<string>French Polynesia</string>
		<key>MCC</key>
		<integer>547</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>742</integer>
		<key>ISO</key>
		<string>gf</string>
		<key>Country</key>
		<string>French Guiana</string>
		<key>MCC</key>
		<integer>594</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>33</integer>
		<key>ISO</key>
		<string>fr</string>
		<key>Country</key>
		<string>France</string>
		<key>MCC</key>
		<integer>208</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>358</integer>
		<key>ISO</key>
		<string>fi</string>
		<key>Country</key>
		<string>Finland</string>
		<key>MCC</key>
		<integer>244</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>679</integer>
		<key>ISO</key>
		<string>fj</string>
		<key>Country</key>
		<string>Fiji</string>
		<key>MCC</key>
		<integer>542</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>298</integer>
		<key>ISO</key>
		<string>fo</string>
		<key>Country</key>
		<string>Faroe Islands</string>
		<key>MCC</key>
		<integer>288</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>500</integer>
		<key>ISO</key>
		<string>fk</string>
		<key>Country</key>
		<string>Falkland Islands</string>
		<key>MCC</key>
		<integer>750</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>251</integer>
		<key>ISO</key>
		<string>et</string>
		<key>Country</key>
		<string>Ethiopia</string>
		<key>MCC</key>
		<integer>636</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>372</integer>
		<key>ISO</key>
		<string>ee</string>
		<key>Country</key>
		<string>Estonia</string>
		<key>MCC</key>
		<integer>248</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>291</integer>
		<key>ISO</key>
		<string>er</string>
		<key>Country</key>
		<string>Eritrea</string>
		<key>MCC</key>
		<integer>657</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>251</integer>
		<key>ISO</key>
		<string>et</string>
		<key>Country</key>
		<string>Ethiopia</string>
		<key>MCC</key>
		<integer>627</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>372</integer>
		<key>ISO</key>
		<string>ee</string>
		<key>Country</key>
		<string>Estonia</string>
		<key>MCC</key>
		<integer>248</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>291</integer>
		<key>ISO</key>
		<string>er</string>
		<key>Country</key>
		<string>Eritrea</string>
		<key>MCC</key>
		<integer>657</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>240</integer>
		<key>ISO</key>
		<string>gq</string>
		<key>Country</key>
		<string>Equatorial Guinea</string>
		<key>MCC</key>
		<integer>627</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>503</integer>
		<key>ISO</key>
		<string>sv</string>
		<key>Country</key>
		<string>El Salvador</string>
		<key>MCC</key>
		<integer>706</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>20</integer>
		<key>ISO</key>
		<string>eg</string>
		<key>Country</key>
		<string>Egypt</string>
		<key>MCC</key>
		<integer>602</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>593</integer>
		<key>ISO</key>
		<string>ec</string>
		<key>Country</key>
		<string>Ecuador</string>
		<key>MCC</key>
		<integer>740</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>670</integer>
		<key>ISO</key>
		<string>tl</string>
		<key>Country</key>
		<string>East Timor</string>
		<key>MCC</key>
		<integer>514</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>1809</integer>
		<key>ISO</key>
		<string>do</string>
		<key>Country</key>
		<string>Dominican Republic</string>
		<key>MCC</key>
		<integer>370</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>1767</integer>
		<key>ISO</key>
		<string>dm</string>
		<key>Country</key>
		<string>Dominica</string>
		<key>MCC</key>
		<integer>366</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>253</integer>
		<key>ISO</key>
		<string>dj</string>
		<key>Country</key>
		<string>Djibouti</string>
		<key>MCC</key>
		<integer>638</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>45</integer>
		<key>ISO</key>
		<string>dk</string>
		<key>Country</key>
		<string>Denmark</string>
		<key>MCC</key>
		<integer>238</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>243</integer>
		<key>ISO</key>
		<string>cd</string>
		<key>Country</key>
		<string>Democratic Republic of the Congo</string>
		<key>MCC</key>
		<integer>630</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>850</integer>
		<key>ISO</key>
		<string>kp</string>
		<key>Country</key>
		<string>Democratic People\&apos;s Republic of Korea</string>
		<key>MCC</key>
		<integer>467</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>420</integer>
		<key>ISO</key>
		<string>cz</string>
		<key>Country</key>
		<string>Czech Republic</string>
		<key>MCC</key>
		<integer>230</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>357</integer>
		<key>ISO</key>
		<string>cy</string>
		<key>Country</key>
		<string>Cyprus</string>
		<key>MCC</key>
		<integer>280</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>53</integer>
		<key>ISO</key>
		<string>cu</string>
		<key>Country</key>
		<string>Cuba</string>
		<key>MCC</key>
		<integer>368</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>385</integer>
		<key>ISO</key>
		<string>hr</string>
		<key>Country</key>
		<string>Croatia</string>
		<key>MCC</key>
		<integer>219</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>506</integer>
		<key>ISO</key>
		<string>cr</string>
		<key>Country</key>
		<string>Costa Rica</string>
		<key>MCC</key>
		<integer>712</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<string>682</string>
		<key>ISO</key>
		<string>ck</string>
		<key>Country</key>
		<string>Cook Islands</string>
		<key>MCC</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>242</integer>
		<key>ISO</key>
		<string>cg</string>
		<key>Country</key>
		<string>Congo</string>
		<key>MCC</key>
		<integer>629</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>269</integer>
		<key>ISO</key>
		<string>km</string>
		<key>Country</key>
		<string>Comoros</string>
		<key>MCC</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>57</integer>
		<key>ISO</key>
		<string>co</string>
		<key>Country</key>
		<string>Colombia</string>
		<key>MCC</key>
		<integer>732</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>86</integer>
		<key>ISO</key>
		<string>cn</string>
		<key>Country</key>
		<string>China</string>
		<key>MCC</key>
		<integer>460</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>56</integer>
		<key>ISO</key>
		<string>cl</string>
		<key>Country</key>
		<string>Chile</string>
		<key>MCC</key>
		<integer>736</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>235</integer>
		<key>ISO</key>
		<string>td</string>
		<key>Country</key>
		<string>Chad</string>
		<key>MCC</key>
		<integer>622</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>236</integer>
		<key>ISO</key>
		<string>cf</string>
		<key>Country</key>
		<string>Central African Republic</string>
		<key>MCC</key>
		<integer>623</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>1345</integer>
		<key>ISO</key>
		<string>ky</string>
		<key>Country</key>
		<string>Cayman Island</string>
		<key>MCC</key>
		<integer>346</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>238</integer>
		<key>ISO</key>
		<string>cv</string>
		<key>Country</key>
		<string>Cape Verde</string>
		<key>MCC</key>
		<integer>625</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>1</integer>
		<key>ISO</key>
		<string>ca</string>
		<key>Country</key>
		<string>Canada</string>
		<key>MCC</key>
		<integer>302</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>237</integer>
		<key>ISO</key>
		<string>cm</string>
		<key>Country</key>
		<string>Cameroon</string>
		<key>MCC</key>
		<integer>624</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>855</integer>
		<key>ISO</key>
		<string>kh</string>
		<key>Country</key>
		<string>Cambodia</string>
		<key>MCC</key>
		<integer>456</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>257</integer>
		<key>ISO</key>
		<string>bi</string>
		<key>Country</key>
		<string>Burundi</string>
		<key>MCC</key>
		<integer>642</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>226</integer>
		<key>ISO</key>
		<string>bf</string>
		<key>Country</key>
		<string>Burkina Faso</string>
		<key>MCC</key>
		<integer>613</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>359</integer>
		<key>ISO</key>
		<string>bg</string>
		<key>Country</key>
		<string>Bulgaria</string>
		<key>MCC</key>
		<integer>284</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>673</integer>
		<key>ISO</key>
		<string>bn</string>
		<key>Country</key>
		<string>Brunei Darussalam</string>
		<key>MCC</key>
		<integer>528</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>1</integer>
		<key>ISO</key>
		<string>vg</string>
		<key>Country</key>
		<string>British Virgin Islands</string>
		<key>MCC</key>
		<integer>348</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>55</integer>
		<key>ISO</key>
		<string>br</string>
		<key>Country</key>
		<string>Brazil</string>
		<key>MCC</key>
		<integer>724</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>267</integer>
		<key>ISO</key>
		<string>bw</string>
		<key>Country</key>
		<string>Botswana</string>
		<key>MCC</key>
		<integer>652</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>387</integer>
		<key>ISO</key>
		<string>ba</string>
		<key>Country</key>
		<string>Bosnia and Herzegovina</string>
		<key>MCC</key>
		<integer>218</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>591</integer>
		<key>ISO</key>
		<string>bo</string>
		<key>Country</key>
		<string>Bolivia</string>
		<key>MCC</key>
		<integer>736</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>975</integer>
		<key>ISO</key>
		<string>bt</string>
		<key>Country</key>
		<string>Bhutan</string>
		<key>MCC</key>
		<integer>402</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>1441</integer>
		<key>ISO</key>
		<string>bm</string>
		<key>Country</key>
		<string>Bermuda</string>
		<key>MCC</key>
		<integer>350</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>229</integer>
		<key>ISO</key>
		<string>bj</string>
		<key>Country</key>
		<string>Benin</string>
		<key>MCC</key>
		<integer>616</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>501</integer>
		<key>ISO</key>
		<string>bz</string>
		<key>Country</key>
		<string>Belize</string>
		<key>MCC</key>
		<integer>702</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>32</integer>
		<key>ISO</key>
		<string>be</string>
		<key>Country</key>
		<string>Belgium</string>
		<key>MCC</key>
		<integer>206</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>375</integer>
		<key>ISO</key>
		<string>by</string>
		<key>Country</key>
		<string>Belarus</string>
		<key>MCC</key>
		<integer>257</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>1246</integer>
		<key>ISO</key>
		<string>bb</string>
		<key>Country</key>
		<string>Barbados</string>
		<key>MCC</key>
		<integer>342</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>880</integer>
		<key>ISO</key>
		<string>bd</string>
		<key>Country</key>
		<string>Bangladesh</string>
		<key>MCC</key>
		<integer>470</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>973</integer>
		<key>ISO</key>
		<string>bh</string>
		<key>Country</key>
		<string>Bahrain</string>
		<key>MCC</key>
		<integer>426</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>1242</integer>
		<key>ISO</key>
		<string>bs</string>
		<key>Country</key>
		<string>Bahamas</string>
		<key>MCC</key>
		<integer>364</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>994</integer>
		<key>ISO</key>
		<string>az</string>
		<key>Country</key>
		<string>Azerbaijani Republic</string>
		<key>MCC</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>43</integer>
		<key>ISO</key>
		<string>at</string>
		<key>Country</key>
		<string>Austria</string>
		<key>MCC</key>
		<integer>232</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>61</integer>
		<key>ISO</key>
		<string>au</string>
		<key>Country</key>
		<string>Australia</string>
		<key>MCC</key>
		<integer>505</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>297</integer>
		<key>ISO</key>
		<string>aw</string>
		<key>Country</key>
		<string>Aruba</string>
		<key>MCC</key>
		<integer>363</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>374</integer>
		<key>ISO</key>
		<string>am</string>
		<key>Country</key>
		<string>Armenia</string>
		<key>MCC</key>
		<integer>283</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>54</integer>
		<key>ISO</key>
		<string>ar</string>
		<key>Country</key>
		<string>Argentine Republic</string>
		<key>MCC</key>
		<integer>722</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>1268</integer>
		<key>ISO</key>
		<string>ag</string>
		<key>Country</key>
		<string>Antigua</string>
		<key>MCC</key>
		<integer>344</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>1264</integer>
		<key>ISO</key>
		<string>ai</string>
		<key>Country</key>
		<string>Anguilla</string>
		<key>MCC</key>
		<integer>365</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>244</integer>
		<key>ISO</key>
		<string>ao</string>
		<key>Country</key>
		<string>Angola</string>
		<key>MCC</key>
		<integer>631</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>376</integer>
		<key>ISO</key>
		<string>ad</string>
		<key>Country</key>
		<string>Andorra</string>
		<key>MCC</key>
		<integer>213</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>684</integer>
		<key>ISO</key>
		<string>as</string>
		<key>Country</key>
		<string>American Samoa</string>
		<key>MCC</key>
		<integer>544</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>213</integer>
		<key>ISO</key>
		<string>dz</string>
		<key>Country</key>
		<string>Algeria</string>
		<key>MCC</key>
		<integer>603</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>355</integer>
		<key>ISO</key>
		<string>al</string>
		<key>Country</key>
		<string>Albania</string>
		<key>MCC</key>
		<integer>276</integer>
	</dict>
	<dict>
		<key>Country Code</key>
		<integer>93</integer>
		<key>ISO</key>
		<string>af</string>
		<key>Country</key>
		<string>Afghanistan</string>
		<key>MCC</key>
		<integer>412</integer>
	</dict>
</array>
</plist>
