<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>stcker1.png</string>
		<key>stickerName</key>
		<string>stcker1</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>stcker2.png</string>
		<key>stickerName</key>
		<string>stcker2</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>stcker3.png</string>
		<key>stickerName</key>
		<string>stcker3</string>
	</dict>
</array>
</plist>
